html, body {
    height: 100%;
    margin: 0pt;
    padding: 0px 0px;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	background: #fafafa;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2em;
}

a {
	color: #0645AD;
	text-decoration: none;
}

a:visited {
	color: #0B0080;
}

a:hover {
	color: #3366BB;
}

/********* Header *********/
header {
	display: table;
	float: left;
	width: 100%;
	background: #2c2c2c;
}

#header-wrap {
	margin: 10px 15px;
}

header a {
	color: #bbb;
	text-decoration: none;
}

header a:visited {
	color: #bbb;
}

header a:hover {
	color: #eee;
}

header #logo a {
	color: #FFFFFF;
}

header #logo {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.4em;
	padding-right: 30px;
}

header li {
	float: left;
	margin-right: 20px;
	color: #ffffff;
}

header nav {
	display: table-cell;
	vertical-align: middle;
	margin: 0px 35px;
}

/********* Footer *********/
#wrap {
	min-height: 100%;
}

#content{
	overflow: auto;
	padding-bottom: 60px;
	width: 100%;
	float: left;
	height: 100%;
}

footer {
	width: 100%;
	float: left;
	height: 60px;
	position: relative;
	margin-top: -60px;
	color: #888;
}

#footer-wrap {
	margin: 10px;
}

footer #logo {
	float: left;
}

footer nav {
	float: right;
}

footer h1 {
	font-weight: bold;
	font-size: 1.5em;
}

footer a {
	text-decoration: none;
	color: #888;
}

footer a:hover {
	color: #333;
}

/********* Items *********/
#items {
	float: left;
	width: 100%;
}

.item {
	width: 180px;
	margin: 15px 7px;
	float: left;
	background: #ffffff;
	padding: 10px;
}

hr {
	height: 1px;
	border: 0px;
	color: #bbb;
	background-color: #bbb;
}

.item img {
	width: 100%;
}

.item h2 {
	font-weight: bold;
	font-size: 0.8em;
}

.item h3 {
	font-size: 0.75em;
	color: #888;
}

/********* Item Detail ********/
.item-detail {
	width: 40%;
	margin: 0px auto;
	background: #ffffff;
	border-style: none solid none solid;
	border-width: 1px;
	border-color: #bbb;
	padding: 20px;
	padding-top: 20px;
	height: 100%;
}

.item-detail img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
}

.item-detail h1 {
	font-weight: bold;
	display: block;
	width: 100%;
	font-size: 1.5em;
}

.item-detail h2 {
	font-size: 1.05em;
	color: #888;
}

.item-detail #action-links {
	margin-bottom: 15px;
}

#image {
	float: left;
	width: 20%;
	height: 200px;
	background-position: center;
	background-size: cover;
}

#info {
	float: left;
	width: 75%;
	margin-left: 15px;
}

#description {
	margin: 0;
}

#commerce_url {
	margin: 0 0 1em 0;
}

#name, #owner, #description, #buttons, #commerce_link {
	clear: both;
}

span.title {
    font-weight: bold;
    font-size: 1.5em;
}

hr {
	color: #eee;
}

.favorite {
	background: #FFFFE0;
}

.edit:hover {
	background: #C4FFCF;
	cursor: hand;
}

#admin_item {
	width: 100%;
	margin: 0.5em 0em;
	clear: both;
	float: left;
}

input {
	margin-left: 0;
	font-size: 2em;
}

.box-shadow {
    position:relative;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
}