#charts {
	display: table;
	width: 85%;
}

.multi-chart {
	display: table-row;
	width: 100%;
	background: blue;
}

.chart {
	display: table-cell;
}

#num-users {
	display: table-row;
}

#num-users-overview {
}

#num-items-added {
}