body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #fafafa;
}

/* ===== Primary Styles ========================================================
   Author:Isaac
   ========================================================================== */
.navbar .brand {
	color: white;
	font-weight: bold;
}

h5.owner {
	font-weight: normal;
}

.item {
	background: white;
}

.category-btn {
	margin-bottom: 10px;
}

button#add {
	margin-bottom: 10px;
}







#items2 {
	float: right;
	width: 100%;
	clear: both;
}

.item2 {
	width: 180px;
	margin: 15px 7px;
	float: left;
	background: #ffffff;
	padding: 10px;
}

.item hr {
	margin: 5px 0px;
}

.box-shadow {
    position:relative;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
}

.item img {
	width: 100%;
}

.item h2 {
	font-weight: bold;
	font-size: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	line-height: 1.35em;
}

.item h3 {
	font-size: 1.1em;
	color: #888;
	line-height: 1.35em;
}

/********* Item Detail ********/
.item-detail {
	width: 40%;
	margin: 0px auto;
	background: #ffffff;
	border-style: none solid none solid;
	border-width: 1px;
	border-color: #bbb;
	padding: 20px;
	padding-top: 20px;
	height: 100%;
}

.item-detail img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
}

.item-detail h1 {
	font-weight: bold;
	display: block;
	width: 100%;
	font-size: 1.5em;
}

.item-detail h2 {
	font-size: 1.05em;
	color: #888;
}

.item-detail #action-links {
	margin-bottom: 15px;
}

#image {
	float: left;
	width: 20%;
	height: 200px;
	background-position: center;
	background-size: cover;
}

#info {
	float: left;
	width: 75%;
	margin-left: 15px;
}

#description {
	margin: 0;
}

#commerce_url {
	margin: 0 0 1em 0;
}

#name, #owner, #description, #buttons, #commerce_link {
	clear: both;
}

span.title {
    font-weight: bold;
    font-size: 1.5em;
}